In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
pd.set_option('display.max_columns',None)

In [8]:
weather_df = pd.read_csv('real_weather.csv', encoding = 'cp949')

In [9]:
weather_df.columns

Index(['location', 'Date', 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed',
       'WindGustDir', 'Sunshine', 'Evaporation', 'TodayRain', 'TomorrowRain',
       'Pressure9am', 'WindDir9am', 'Cloud9am', 'Humidity9am', 'WindSpeed9am',
       'Temp9am', 'Pressure3pm', 'WindDir3pm', 'Cloud3pm', 'Humidity3pm',
       'WindSpeed3pm', 'Temp3pm'],
      dtype='object')

In [7]:
weather_df.isnull().sum()

location              0
Date                  0
MinTemp              34
MaxTemp              27
Rainfall         217587
WindGustSpeed       181
WindGustDir         168
Sunshine         194241
Evaporation      222948
TodayRain             0
TomorrowRain          0
Pressure9am         282
WindDir9am          725
Cloud9am         145659
Humidity9am         334
WindSpeed9am        238
Temp9am              46
Pressure3pm         242
WindDir3pm          701
Cloud3pm         145707
Humidity3pm         204
WindSpeed3pm        239
Temp3pm              49
dtype: int64

In [10]:
weather_df['Date'] = pd.to_datetime(weather_df['Date'])
weather_df['Year'] = weather_df['Date'].dt.year
weather_df['Month'] = weather_df['Date'].dt.month
weather_df['Day'] = weather_df['Date'].dt.day
weather_df.drop('Date', axis=1, inplace = True)

In [36]:
for i in object:
    weather_df[i].fillna(weather_df[i].mode()[0], inplace=True)

for i in num:
    weather_df[i].fillna(weather_df[i].median(), inplace =True)

In [38]:
weather_df.isnull().sum()

location         0
MinTemp          0
MaxTemp          0
Rainfall         0
WindGustSpeed    0
WindGustDir      0
Sunshine         0
Evaporation      0
TodayRain        0
TomorrowRain     0
Pressure9am      0
WindDir9am       0
Cloud9am         0
Humidity9am      0
WindSpeed9am     0
Temp9am          0
Pressure3pm      0
WindDir3pm       0
Cloud3pm         0
Humidity3pm      0
WindSpeed3pm     0
Temp3pm          0
Year             0
Month            0
Day              0
dtype: int64

In [39]:
weather_df

,location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindGustDir,Sunshine,Evaporation,TodayRain,TomorrowRain,...,Temp9am,Pressure3pm,WindDir3pm,Cloud3pm,Humidity3pm,WindSpeed3pm,Temp3pm,Year,Month,Day
0,속초,12.6,23.2,0.5,6.4,NW,13.17,3.2,0,0,...,18.3,998.7,SE,6.0,51.0,4.2,19.3,2012,5,5
1,속초,10.6,24.1,1.8,6.5,WSW,13.17,3.2,0,0,...,18.6,1000.8,E,2.0,35.0,2.7,20.5,2012,5,6
2,속초,14.2,25.1,1.8,7.0,NW,13.17,3.2,0,0,...,22.2,1002.8,E,0.0,31.0,2.1,22.9,2012,5,7
3,속초,12.1,21.1,1.8,6.1,NW,13.17,3.2,0,0,...,17.0,1005.5,ESE,3.0,70.0,2.8,18.3,2012,5,8
4,속초,11.9,15.4,1.8,6.5,NW,13.17,3.2,0,1,...,14.7,1013.2,NNW,9.0,89.0,4.6,13.9,2012,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343701,남해,9.8,20.3,1.8,4.8,WNW,13.17,3.2,0,0,...,14.4,1006.8,S,1.0,35.0,2.4,19.5,2022,5,1
343702,남해,7.9,21.5,1.8,5.4,WNW,13.17,3.2,0,0,...,15.9,1006.5,WSW,7.0,42.0,2.2,20.6,2022,5,2
343703,남해,8.3,19.9,1.8,3.6,SSW,13.17,3.2,0,0,...,13.0,1014.3,S,0.0,37.0,2.7,18.9,2022,5,3
343704,남해,8.2,22.7,1.8,4.1,SSW,13.17,3.2,0,0,...,15.5,1014.0,SSW,0.0,39.0,2.6,21.3,2022,5,4
343705,남해,9.5,23.7,1.8,3.9,SSW,13.17,3.2,0,0,...,17.3,1013.6,SW,0.0,44.0,2.6,22.6,2022,5,5

In [41]:
weather_df = pd.read_csv('pre_weather.csv', index_col = 0)

In [42]:
weather_df

,location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindGustDir,Sunshine,Evaporation,TodayRain,TomorrowRain,...,Temp9am,Pressure3pm,WindDir3pm,Cloud3pm,Humidity3pm,WindSpeed3pm,Temp3pm,Year,Month,Day
0,속초,12.6,23.2,0.5,6.4,NW,13.17,3.2,0,0,...,18.3,998.7,SE,6.0,51.0,4.2,19.3,2012,5,5
1,속초,10.6,24.1,1.8,6.5,WSW,13.17,3.2,0,0,...,18.6,1000.8,E,2.0,35.0,2.7,20.5,2012,5,6
2,속초,14.2,25.1,1.8,7.0,NW,13.17,3.2,0,0,...,22.2,1002.8,E,0.0,31.0,2.1,22.9,2012,5,7
3,속초,12.1,21.1,1.8,6.1,NW,13.17,3.2,0,0,...,17.0,1005.5,ESE,3.0,70.0,2.8,18.3,2012,5,8
4,속초,11.9,15.4,1.8,6.5,NW,13.17,3.2,0,1,...,14.7,1013.2,NNW,9.0,89.0,4.6,13.9,2012,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343701,남해,9.8,20.3,1.8,4.8,WNW,13.17,3.2,0,0,...,14.4,1006.8,S,1.0,35.0,2.4,19.5,2022,5,1
343702,남해,7.9,21.5,1.8,5.4,WNW,13.17,3.2,0,0,...,15.9,1006.5,WSW,7.0,42.0,2.2,20.6,2022,5,2
343703,남해,8.3,19.9,1.8,3.6,SSW,13.17,3.2,0,0,...,13.0,1014.3,S,0.0,37.0,2.7,18.9,2022,5,3
343704,남해,8.2,22.7,1.8,4.1,SSW,13.17,3.2,0,0,...,15.5,1014.0,SSW,0.0,39.0,2.6,21.3,2022,5,4
343705,남해,9.5,23.7,1.8,3.9,SSW,13.17,3.2,0,0,...,17.3,1013.6,SW,0.0,44.0,2.6,22.6,2022,5,5

In [45]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343706 entries, 0 to 343705
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   location       343706 non-null  object
 1   MinTemp        343706 non-null  float64
 2   MaxTemp        343706 non-null  float64
 3   Rainfall       343706 non-null  float64
 4   WindGustSpeed  343706 non-null  float64
 5   WindGustDir    343706 non-null  object
 6   Sunshine       343706 non-null  float64
 7   Evaporation    343706 non-null  float64
 8   TodayRain      343706 non-null  int64
 9   TomorrowRain   343706 non-null  int64
 10  Pressure9am    343706 non-null  float64
 11  WindDir9am     343706 non-null  object
 12  Cloud9am       343706 non-null  float64
 13  Humidity9am    343706 non-null  float64
 14  WindSpeed9am   343706 non-null  float64
 15  Temp9am        343706 non-null  float64
 16  Pressure3pm    343706 non-null  float64
 17  WindDir3pm     343706 non-null  object
 18  Cloud3pm       343706 non-null  float64
 19  Humidity3pm    343706 non-null  float64
 20  WindSpeed3pm   343706 non-null  float64
 21  Temp3pm        343706 non-null  float64
 22  Year           343706 non-null  int64
 23  Month          343706 non-null  int64
 24  Day            343706 non-null  int64
dtypes: float64(16), int64(5), object(4)
memory usage: 68.2+ MB

In [43]:
object = ['location', 'WindGustDir', 'WindDir9am', 'WindDir3pm']
num = [ 'MinTemp', 'MaxTemp', 'Rainfall', 'WindGustSpeed', 'Sunshine', 'Evaporation',
       'TodayRain', 'Pressure9am','Cloud9am', 'Humidity9am', 'WindSpeed9am', 'Temp9am',
       'Pressure3pm',  'Cloud3pm', 'Humidity3pm', 'WindSpeed3pm','Temp3pm']

In [46]:
encoder = LabelEncoder()
for i in object:  
    weather_df[i] = encoder.fit_transform(weather_df[i])

In [47]:
weather_df

,location,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindGustDir,Sunshine,Evaporation,TodayRain,TomorrowRain,...,Temp9am,Pressure3pm,WindDir3pm,Cloud3pm,Humidity3pm,WindSpeed3pm,Temp3pm,Year,Month,Day
0,45,12.6,23.2,0.5,6.4,7,13.17,3.2,0,0,...,18.3,998.7,9,6.0,51.0,4.2,19.3,2012,5,5
1,45,10.6,24.1,1.8,6.5,15,13.17,3.2,0,0,...,18.6,1000.8,0,2.0,35.0,2.7,20.5,2012,5,6
2,45,14.2,25.1,1.8,7.0,7,13.17,3.2,0,0,...,22.2,1002.8,0,0.0,31.0,2.1,22.9,2012,5,7
3,45,12.1,21.1,1.8,6.1,7,13.17,3.2,0,0,...,17.0,1005.5,2,3.0,70.0,2.8,18.3,2012,5,8
4,45,11.9,15.4,1.8,6.5,7,13.17,3.2,0,1,...,14.7,1013.2,6,9.0,89.0,4.6,13.9,2012,5,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343701,17,9.8,20.3,1.8,4.8,14,13.17,3.2,0,0,...,14.4,1006.8,8,1.0,35.0,2.4,19.5,2022,5,1
343702,17,7.9,21.5,1.8,5.4,14,13.17,3.2,0,0,...,15.9,1006.5,15,7.0,42.0,2.2,20.6,2022,5,2
343703,17,8.3,19.9,1.8,3.6,11,13.17,3.2,0,0,...,13.0,1014.3,8,0.0,37.0,2.7,18.9,2022,5,3
343704,17,8.2,22.7,1.8,4.1,11,13.17,3.2,0,0,...,15.5,1014.0,11,0.0,39.0,2.6,21.3,2022,5,4
343705,17,9.5,23.7,1.8,3.9,11,13.17,3.2,0,0,...,17.3,1013.6,12,0.0,44.0,2.6,22.6,2022,5,5